body {
  font-family: Verdana;
  font-size: 16px;
  margin: 0;
}

h3,
h4 {
  margin-bottom: 0;
}

nav {
  justify-content: center;
  text-align: center;
  top: 0;
  width: 100%;
  background: #111827;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  font-size: 26px;
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
}

nav a {
  text-decoration: none;
  background: #111827;
  color: white;
  padding: 8px 50px;
}

nav a:hover {
  background: black;
  color: white;
}

#page-body {
  max-width: 70vw;
  margin: auto;
  padding-top: 64px;
}

.model {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  text-align: center;
  padding: 10rem;
}

.modelContainer {
  position: relative;
}

.muscle-tooltip {
  position: absolute;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #ccc;
  display: none;
  z-index: 1000;
  pointer-events: none;
  top: 20px;
  left: 20px;
}

.ModelContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  text-align: center;
  padding: 10rem;
}

.Tooltip {
  position: fixed;
  padding: 5px 10px;
  color: white;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.Feedback table {
  width: 100%;
  border-collapse: collapse;
}

.Feedback td {
  padding: 8px;
  border: 1px solid #ddd;
}

.Feedback td:first-child {
  font-weight: bold;
}


.button-23 {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  padding: 3vh 23vw;
  position: center;
  margin: 50px;
  position: relative;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
}


.button-23:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.button-23:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}